.conatiner {
  margin: 0px 20px;
}

.sortContainer {
  margin: 8px 0px;
}

.searchInput {
  margin: 16px;
  max-width: 350px;
  width: 100%;
}

.dropdown {
  color: white;
  margin: 0px 8px;
  font-size: large;
  border-radius: 4px;
  border-color: white;
  border: solid;
  border-width: 1px;
  padding: 4px;
}
